<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>Guatemalan Hands</h3></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>

  </div>
</nav>

<br>




<div class="jumbotron">
  <div class="row">
    <div class="col text-start">
      <h1 class="display-3">Bienvenido</h1>
      <p class="fs-3">Estas en la página de ventas de artesanías y textiles 100% guatemaltecos.</p>
      <p class="fs-3">Unimos la tradición textil artesanal, con la modernidad, conocimiento y compromiso de los auténticos conocedores de la artesanía textil Guatemalteca, con el objetivo de ofrecer al mundo una fracción de la cultura textil de Guatemala de la más alta calidad.</p>
    </div>
    <div class="col text-start">
      <img src="../assets/img3.jpg" class="rounded float-start" width="450" height="450">
    </div>
  </div>
</div>

  <br>

  <div class="jumbotron">
    <div class="row">
      <div class="col text-start">
        <img src="../assets/img4.jpg" class="rounded float-start" width="400" height="350">
      </div>
      <div class="col text-start">
        <h1 class="display-5">Artesanias</h1>
        <p class="fs-3">Las artesanías guatemaltecas son elaboradas con materiales típicos, muchos guatemaltecos se dedican a crearles y luego comercializarlas.</p>
        <p class="fs-3">Estos objetos son totalmente culturales, ya que tiene la particularidad de variar dependiendo del contexto social, el paisaje, el clima y la historia del lugar donde se realiza.</p>
        <p class="fs-3">Estas artesanías son elaboradas a mano y casi no utilizan maquinaria. Las distintas comunidades mayas, distribuidas en las montañas del país se dedican a la producción de artesanías textiles, como lo son: los tradicionales huipiles y cortes, bolsos, morrales, mochilas, mantas, colchas, mantelería, chales, bufandas, máscaras, piedras, maderas talladas, entre otros.</p>
      </div>
    </div>
  </div>

  <br>

  <div class="jumbotron">
    <div class="row">
      <div class="col text-start">
        <img src="../assets/img2.jpg" class="rounded float-start" width="400" height="250">
      </div>
      <div class="col text-start">
        <h1 class="display-5">Textiles</h1>
        <p class="fs-3">Un verdadero arco iris lleno de luz y alegría aparece plasmado en cada uno de estos trajes típicos de los indígenas guatemaltecos.</p>
        <p class="fs-3">El trabajo textil en este país centroamericano goza de una larga tradición porque en él se aprecia el arte, el ingenio y la fantasía de sus creadores.</p>
      </div>
    </div>
  </div>

